---
apiVersion: v1
kind: Pod
metadata:
  name: my-pod
spec:
  containers:
    - image: k8s.gcr.io/busybox
      name: busybox
      command: [ "sh", "-c"]
      args:
      - sleep 10000
      env:
        - name: MESSAGE                                      
          valueFrom:
            configMapKeyRef:
              name: my-configmap
              key: things
      volumeMounts:
      - name: hellos
        mountPath: "/hellos"
        readOnly: true
  volumes:
    - name: hellos
      configMap:
        name: my-configmap
        items:
        - key: messages
          path: hello.file
  restartPolicy: Never